<a href="https://colab.research.google.com/github/SofiaNikolaeva-adey-201/OPDA-practiki/blob/19.03/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%9A%D0%BE%D0%BD%D1%82%D1%80%D0%BE%D0%BB%D1%8C_%D0%B7%D0%BD%D0%B0%D0%BD%D0%B8%D0%B9_1_student_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Вам необходимо загрузить набор данных «**subset-covid-data.csv**», содержащий данные о количестве случаев и смертей, связанных с пандемией **COVID-19**, для разных стран. https://github.com/DataRepo2019/Data-files или  https://github.com/DataRepo2019/Data-files/blob/master/subset-covid-data.csv

# **ЗАДАНИЕ 1**
Напишите функцию / индексатор / атрибут в Pandas для:

In [57]:
import numpy as np
from scipy.integrate import odeint
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# 1.1	Импорта данных из файла HTML.
# 
pd.read_html(url)

In [ ]:
# 1.2	Экспорта данных в файл Excel.
df.to_excel('filename.xlsx', encoding = 'cp1251')
files.download('filename.xlsx')

In [ ]:
# 1.3	Выбора данных с использованием позиции индекса.
a = df["name_of_column"]

In [ ]:
# 1.4	Выбора данных по метке.
df.loc()

In [ ]:
# 1.5	Замены нулевых значений медианой.
df.fillna(df.mean())

In [ ]:
# 1.6	Переименования столбцов.
df.rename(columns={"A": "a", "B": "c"})

In [ ]:
# 1.7	Получения количества строк и столбцов в DataFrame.
df.shape()
df.apply()

In [ ]:
# 1.8	Преобразования в широкоформатный формат с помощью функции поворота.
df.pivot_table()

In [ ]:
# 1.9	Выполнения внутреннего соединения двух таблиц.
df1.merge(df2, how = 'inner')
#или
df1.merge(df2)

In [ ]:
# 1.10	Изменение типа данных серии.
df.to_numeric()
df.astype()

# **ЗАДАНИЕ 2**
Функция **df.describe()** возвращает следующие сводные статистические значения: количество, минимум, максимум, стандартное отклонение, процентили и средние значения.

In [ ]:
# 2.1 Какой параметр вы бы добавили, чтобы получить следующее:
# количество уникальных значений, значение, которое встречается чаще всего,
df.name_of_column.unique()
#количество уникальных значений unique
#значение, которое встречается чаще всего top
# и частота этого значения freq

# ваш код

# **ЗАДАНИЕ  3**
Импортируйте «**subset-covid-data.csv**» в **DataFrame**. Выберите следующие данные:

In [2]:
from google.colab import files
uploaded = files.upload()

Saving subset-covid-data.csv to subset-covid-data.csv

In [3]:
df = pd.read_csv("subset-covid-data.csv", sep = ',')
df

         country continent        date  ...  deaths  country_code  population
0    Afghanistan      Asia  2020-04-12  ...       3           AFG  37172386.0
1        Albania    Europe  2020-04-12  ...       0           ALB   2866376.0
2        Algeria    Africa  2020-04-12  ...      19           DZA  42228429.0
3        Andorra    Europe  2020-04-12  ...       2           AND     77006.0
4         Angola    Africa  2020-04-12  ...       0           AGO  30809762.0
..           ...       ...         ...  ...     ...           ...         ...
201    Venezuela   America  2020-04-12  ...       0           VEN  28870195.0
202      Vietnam      Asia  2020-04-12  ...       0           VNM  95540395.0
203        Yemen      Asia  2020-04-12  ...       0           YEM  28498687.0
204       Zambia    Africa  2020-04-12  ...       0           ZMB  17351822.0
205     Zimbabwe    Africa  2020-04-12  ...       0           ZWE  14439018.0

[206 rows x 10 columns]

In [4]:
# 3.1	Столбцы  'country'  и 'continent'.

df['country']

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
201      Venezuela
202        Vietnam
203          Yemen
204         Zambia
205       Zimbabwe
Name: country, Length: 206, dtype: object

In [5]:
df['continent']

0         Asia
1       Europe
2       Africa
3       Europe
4       Africa
        ...
201    America
202       Asia
203       Asia
204     Africa
205     Africa
Name: continent, Length: 206, dtype: object

In [9]:
df1 = df[df.columns[0:2]]
df1

         country continent
0    Afghanistan      Asia
1        Albania    Europe
2        Algeria    Africa
3        Andorra    Europe
4         Angola    Africa
..           ...       ...
201    Venezuela   America
202      Vietnam      Asia
203        Yemen      Asia
204       Zambia    Africa
205     Zimbabwe    Africa

[206 rows x 2 columns]

In [13]:
# 3.2	Установите столбец 'country' в качестве индекса и извлеките численность населения, 
# для страны “Algeria” с помощью индексаторов at или loc.

df = df.set_index(df['country'])
df

                 country continent        date  ...  deaths  country_code  population
country                                         ...
Afghanistan  Afghanistan      Asia  2020-04-12  ...       3           AFG  37172386.0
Albania          Albania    Europe  2020-04-12  ...       0           ALB   2866376.0
Algeria          Algeria    Africa  2020-04-12  ...      19           DZA  42228429.0
Andorra          Andorra    Europe  2020-04-12  ...       2           AND     77006.0
Angola            Angola    Africa  2020-04-12  ...       0           AGO  30809762.0
...                  ...       ...         ...  ...     ...           ...         ...
Venezuela      Venezuela   America  2020-04-12  ...       0           VEN  28870195.0
Vietnam          Vietnam      Asia  2020-04-12  ...       0           VNM  95540395.0
Yemen              Yemen      Asia  2020-04-12  ...       0           YEM  28498687.0
Zambia            Zambia    Africa  2020-04-12  ...       0           ZMB  17351822.0
Zimbabwe        Zimbabwe    Africa  2020-04-12  ...       0           ZWE  14439018.0

[206 rows x 10 columns]

In [14]:
df.loc['Algeria', 'population']

42228429.0

In [15]:
# 3.4	Выберите значение в 50-й строке и 3-м столбце с помощью iloc или индексатора iat.

df.iloc[50, 3]

12

In [20]:
# 3.4	Получите код страны и данные о населении последних трех записей.

df[df.columns[8:10]].tail(3)

         country_code  population
country
Yemen             YEM  28498687.0
Zambia            ZMB  17351822.0
Zimbabwe          ZWE  14439018.0

In [21]:
# 3.5	Выберите данные для стран с большим населением: более 2,5 миллионов, а количество заболевших - более 3000.

rslt_df = df[(df['population'] > 2500000) & (df['cases'] > 3000)]
rslt_df

                                           country  ...   population
country                                             ...
France                                      France  ...   66987244.0
Italy                                        Italy  ...   60431283.0
Spain                                        Spain  ...   46723749.0
Turkey                                      Turkey  ...   82319724.0
United_Kingdom                      United_Kingdom  ...   66488991.0
United_States_of_America  United_States_of_America  ...  327167434.0

[6 rows x 10 columns]

# **ЗАДАНИЕ 4**
Импортируйте данные для файла «**subset-covid-data.csv**» в DataFrame и напишите код для следующего:

In [22]:
# 4.1. Удалить столбец «country_code».

delited = df['country_code']
delited

country
Afghanistan    AFG
Albania        ALB
Algeria        DZA
Andorra        AND
Angola         AGO
              ...
Venezuela      VEN
Vietnam        VNM
Yemen          YEM
Zambia         ZMB
Zimbabwe       ZWE
Name: country_code, Length: 206, dtype: object

In [24]:
df = df.drop(['country_code'], axis = 1)
df

                 country continent        date  ...  cases  deaths  population
country                                         ...
Afghanistan  Afghanistan      Asia  2020-04-12  ...     34       3  37172386.0
Albania          Albania    Europe  2020-04-12  ...     17       0   2866376.0
Algeria          Algeria    Africa  2020-04-12  ...     64      19  42228429.0
Andorra          Andorra    Europe  2020-04-12  ...     21       2     77006.0
Angola            Angola    Africa  2020-04-12  ...      0       0  30809762.0
...                  ...       ...         ...  ...    ...     ...         ...
Venezuela      Venezuela   America  2020-04-12  ...      0       0  28870195.0
Vietnam          Vietnam      Asia  2020-04-12  ...      4       0  95540395.0
Yemen              Yemen      Asia  2020-04-12  ...      0       0  28498687.0
Zambia            Zambia    Africa  2020-04-12  ...      0       0  17351822.0
Zimbabwe        Zimbabwe    Africa  2020-04-12  ...      3       0  14439018.0

[206 rows x 9 columns]

In [38]:
# 4.2. Вставить этот столбец обратно.
df2 = df.join(delited)
df2

                 country continent        date  ...  deaths  population  country_code
country                                         ...
Afghanistan  Afghanistan      Asia  2020-04-12  ...       3  37172386.0           AFG
Albania          Albania    Europe  2020-04-12  ...       0   2866376.0           ALB
Algeria          Algeria    Africa  2020-04-12  ...      19  42228429.0           DZA
Andorra          Andorra    Europe  2020-04-12  ...       2     77006.0           AND
Angola            Angola    Africa  2020-04-12  ...       0  30809762.0           AGO
...                  ...       ...         ...  ...     ...         ...           ...
Venezuela      Venezuela   America  2020-04-12  ...       0  28870195.0           VEN
Vietnam          Vietnam      Asia  2020-04-12  ...       0  95540395.0           VNM
Yemen              Yemen      Asia  2020-04-12  ...       0  28498687.0           YEM
Zambia            Zambia    Africa  2020-04-12  ...       0  17351822.0           ZMB
Zimbabwe        Zimbabwe    Africa  2020-04-12  ...       0  14439018.0           ZWE

[206 rows x 10 columns]

In [29]:
# 4.3. Удалить первые три строки.

delited_lines = df2.head(3)
delited_lines

                 country continent        date  ...  deaths  population  country_code
country                                         ...
Afghanistan  Afghanistan      Asia  2020-04-12  ...       3  37172386.0           AFG
Albania          Albania    Europe  2020-04-12  ...       0   2866376.0           ALB
Algeria          Algeria    Africa  2020-04-12  ...      19  42228429.0           DZA

[3 rows x 10 columns]

In [39]:
df3 = df2.drop(df2.head(3).index, inplace=True)
df2

                                 country continent  ...  population  country_code
country                                             ...
Andorra                          Andorra    Europe  ...     77006.0           AND
Angola                            Angola    Africa  ...  30809762.0           AGO
Anguilla                        Anguilla   America  ...         NaN           NaN
Antigua_and_Barbuda  Antigua_and_Barbuda   America  ...     96286.0           ATG
Argentina                      Argentina   America  ...  44494502.0           ARG
...                                  ...       ...  ...         ...           ...
Venezuela                      Venezuela   America  ...  28870195.0           VEN
Vietnam                          Vietnam      Asia  ...  95540395.0           VNM
Yemen                              Yemen      Asia  ...  28498687.0           YEM
Zambia                            Zambia    Africa  ...  17351822.0           ZMB
Zimbabwe                        Zimbabwe    Africa  ...  14439018.0           ZWE

[203 rows x 10 columns]

In [45]:
#  4.4. Добавить удаленные первые три строки обратно.

df4 = df2.append(delited_lines)
df4

                                 country continent  ...  population  country_code
country                                             ...
Andorra                          Andorra    Europe  ...     77006.0           AND
Angola                            Angola    Africa  ...  30809762.0           AGO
Anguilla                        Anguilla   America  ...         NaN           NaN
Antigua_and_Barbuda  Antigua_and_Barbuda   America  ...     96286.0           ATG
Argentina                      Argentina   America  ...  44494502.0           ARG
...                                  ...       ...  ...         ...           ...
Zambia                            Zambia    Africa  ...  17351822.0           ZMB
Zimbabwe                        Zimbabwe    Africa  ...  14439018.0           ZWE
Afghanistan                  Afghanistan      Asia  ...  37172386.0           AFG
Albania                          Albania    Europe  ...   2866376.0           ALB
Algeria                          Algeria    Africa  ...  42228429.0           DZA

[206 rows x 10 columns]

# **ЗАДАНИЕ 5**
Следующий DataFrame записывает изменение веса четырех человек:
![Снимок.JPG]()

In [46]:
#   5.1. Создайте из таблицы  DataFrame.
from google.colab import files
uploaded = files.upload()

Saving abc.csv to abc.csv

In [47]:
df = pd.read_csv("abc.csv", sep = ',')
df

   Anna   Ben   Carole   Dave
0  51.0  70.0     64.0   81.0
1  52.0  70.5     64.2   81.3
2  51.4  69.1     66.8   80.5
3  52.8  69.8     66.0   80.9
4  50.5  70.5     63.4   81.4

In [ ]:
#  5.2. Преобразуйте этот DataFrame в tidy format.

In [52]:
#  5.3. Определите, у кого из этих четырех человек было меньше всего колебаний по весу.

df.melt.groupby('name').agg({'':np.std})

AttributeError: ignored

In [80]:
#  5.4. Для людей, чей средний вес менее 65 кг, пересчитайте их
#  вес (за все четыре дня) в фунтах и отобразить эти данные.

a =df['Anna'].mean()
print(a)
print(b)
print(c)
print(d)
b =df[' Ben'].mean()
c =df[' Carole'].mean()
d =df[' Dave'].mean()
list = [a,b,c,d]
for i in list:
  if i < 65:
    print("____________________")
    print(i)

e =df['Anna'].sum()
f =df[' Carole'].sum()
print(e,f)

51.54
69.97999999999999
64.88
81.02000000000001
____________________
51.54
____________________
64.88
257.7 324.4

In [ ]:
df[' Ben']